<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="page_head(title, remove)" th:remove="${remove}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimun-scale=1.0">
	
<title>[[${title}]]</title>
<link rel="shortcut icon" type="image/x-icon" th:href="@{${S3_BASE_URI + SITE_LOGO}}"/>
<link rel="icon" type="image/x-icon" th:href="@{${S3_BASE_URI + SITE_LOGO}}"/>

<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
	<div th:fragment="filter(moduleURL)" class="d-inline-block">
		<div class="d-flex justify-content-center m-3">
			<form th:action="@{${moduleURL}}" class="form-inline justify-content-center d-flex flex-wrap" id="searchForm">

				<span class="full-details">Filter:</span> 
				<input  class="form-control ml-4" type="search" name="keyword" th:value="${keyword}"/>
				<button id="searchButton" class="btn btn-primary ml-3" type="submit">
					<i class="fas fa-search"></i>
				</button>  
				<button id="clearButton" class="btn btn-secondary ml-3" type="button"  onclick="clearFilter()">
					<i class="fas fa-eraser"></i>
				</button> 
			</form>
		</div>
		
	</div>
	
	<nav th:fragment="pagination(first, previous, moduleURL, next, last, currentPage, totalPages, totalElements, keyword)">
			<ul class="pagination justify-content-center flex-wrap">
				<li th:class="${totalElements > 0 && currentPage > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link"
					th:href="@{${first}+ ${categoryId != null ? '&categoryId='+categoryId : ''}}">First</a></li>	
				<li th:class="${currentPage != 1 && totalElements > 0 ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{${previous}+ ${categoryId != null ? '&categoryId='+categoryId : ''}}">Previous</a>
				</li>
				<li th:if="${totalElements > 0}" th:class="${currentPage==pageNum ? 'page-item active' : 'page-item'}"
					th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
					<a class="page-link" th:href="@{${moduleURL} + ${pageNum} + '?keyword=' + ${keyword==null? '' : keyword} + ${categoryId != null ? '&categoryId='+categoryId : ''}}">[[${pageNum}]]</a>
				</li>

				<li th:class="${currentPage != totalPages && totalElements > 0 ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{${next}+ ${categoryId != null ? '&categoryId='+categoryId : ''}}">Next</a>
				</li>
				<li th:class="${totalElements > 0 && currentPage != totalPages ? 'page-item' : 'page-item disabled'}"><a class="page-link"
					th:href="@{${last}+ ${categoryId != null ? '&categoryId='+categoryId : ''}}">Last</a></li>

			</ul>
		</nav> 
	
	<div th:fragment="footer" class="p-4 d-flex justify-content-around align-items-center text-center" style="color: #ccc; background-color: gray; margin: 20px -15px 0; font-size: 14px;">
		<div class="font-weight-bold pr-2" style="font-size: 30px; flex:1">
			<img src="/ShopmeAdmin/images/ShopmeAdminSmall.png"/>
		</div>
		<div class="text-left pl-4" style="border-left: 2px solid #ccc; flex: 2;">
			<div>
				<span>About</span>&nbsp;&nbsp;
				<span>Benefits</span>&nbsp;&nbsp;
				<span>Career</span>&nbsp;&nbsp;
				<span>Support</span>
			</div>
			<div>
				[[${COPYRIGHT}]]
			</div>
		</div>
		<div class="text-left mr-5">
			<div style="font-size: 16px;">
				<i class="fab fa-facebook pr-2"></i>
				<i class="fab fa-instagram pr-2"></i>
				<i class="fab fa-twitter pr-2"></i>
				<i class="fab fa-linkedin-in pr-2"></i>
			</div>
			<div>
				Support: [[${MAIL_USERNAME}]]
			</div>
		</div>
	</div>
</body>
</html>