<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimun-scale=1.0">
<title>Login</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
	<div class="container-fluid">

		<div class="row d-flex justify-content-center mt-5 ">
			<form th:action="@{/login}" method="post">
				<div  th:if="${param.error}" class="text-danger text-center d-flex justify-content-center">
					[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]! 
				</div>
				<div class="border border-secondary rounded p-3 " style="min-width:450px;">
					<div class="row d-flex justify-content-center mb-3">
						<img th:src="@{/images/ShopmeAdminSmall.png}" />
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">Email:</label>
						<div class="col-sm-9">
							<input type="email" name="email" class="form-control" required
								placeholder="Your email" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">Password:</label>
						<div class="col-sm-9">
							<input type="password" name="password" class="form-control" required
								placeholder="Your password" />
						</div>
					</div>
					<div class="d-flex justify-content-between align-items-end">
						<span >
							<input type="checkbox" id="rememberMe" name="remember-me" />
							<label for="rememberMe">Remember me for the next time</label>
						</span>
						<input type="submit" value="Login" class="btn btn-primary" style="width:20%;"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>