<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content" >
		<div id="detailsSection">
			<th:block th:if="${product.details.size() == 0}">
				<div id="divDetail0"  class="form-inline row justify-content-start m-3 ml-5 ">
					<label class="col-sm-1 col-form-label">Name:</label> 
					<input type="text" class="form-control col-sm-2" name="detailName" required maxlength="255" /> 
					<label class="col-sm-1 col-form-label">Value:</label> 
					<input type="text" class="form-control" name="detailValue" required maxlength="255" style="min-width:50%;"/> 
					<a class="text-decoration-none fas fa-times-circle fa-2x icon-gray ml-5" 
						href="javascript:removeDetail(0)" title="Remove this property"></a>
				</div>
			</th:block>
			
			<th:block th:if="${product.details.size > 0}" th:each="detail, status : ${product.details}" >
				<div th:id="'divDetail'+${status.index}"  class="form-inline row justify-content-start m-3 ml-5 ">
					<label class="col-sm-1 col-form-label">Name:</label> 
					<input type="text" class="form-control col-sm-2" name="detailName" th:value="${detail.name}" required maxlength="255" /> 
					<label class="col-sm-1 col-form-label">Value:</label> 
					<input type="text" class="form-control" name="detailValue" th:value="${detail.value}" required maxlength="255" style="min-width:50%;"/> 
					<a class="text-decoration-none fas fa-times-circle fa-2x icon-gray ml-5" 
						th:href="'javascript:removeDetail('+${status.index}+')'" title="Remove this property"></a>
				</div>
			</th:block>
		</div>
	</div>

	

	
</body>
</html>